.main {
  position: relative;
  left: 250px;
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #e1e3eb;
    width: 100%;
  }
  .runas{
    position: relative;
  left: 250px;
    padding-top: 20px;
    padding-bottom: 10px;

  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 40%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color: white;
  }
  .imgs {
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
  .container-image {
    background-color: rgb(223, 221, 221); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
  }
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
  } 

.login_form input{
      width: 290px;
      height: 50px;
      border: 1px solid;
      border-radius: 50px;
      outline: none;
      padding-left: 20px;
      background-color: #fff;
      font-size: 20px;
      position: relative;
      left: 0;

  }
.login_form {
        position: relative;
        left: 10px;

}
.login_form h1{
  position: relative;
      right: 25px;
} 

.second-input{
      padding-top: 20px;
  }

  button{
      width: 300px;
      height: 50px;
      border-radius: 60px;
      background-color: #b103fc;
      color: white;
      font-size: 25px;
      border: none;
  }
  #b1{
      width: 300px;
      height: 40px;
      font-size: 20px;
      background-color: #110c29;

  }
  .login-button{
      padding-top: 25px;
  }

  .link{
      font-size: 15px;
      font-weight: 400;
  }
   a{
       color: blue;
   }